\documentclass[10pt]{article}
\usepackage[margin=0.5in]{geometry}
\begin{document}

\begin{center}
{\Large \textbf{{ name }}} \\
{{ email }}
\end{center}

\section*{Experience}
\textbf{Backend Engineer} \\
\begin{itemize}
\item Built scalable APIs handling 1M+ requests/day
\item Reduced latency by 40\% using caching
\end{itemize}

\section*{Skills}
Python, FastAPI, PostgreSQL, Docker

\end{document}